* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition-duration: 300ms;
}

body {
	border: 2px solid brown;
	height: 100vh;
	background: linear-gradient(135deg, #789975, #7572a5);
	font-family: sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 45px;
	padding: 50px;	
}

h1,
.container{
	width: min(90%, 600px);
}

h1 {
	text-align: center;
}

.container {
	border: 2px solid rgb(165, 77, 42);
	border-radius: 30px;
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 30px;
	gap: 25px;	
}

s.items{
	width: 60%;
 }

.single-item {
	display: flex;
	border-bottom: 1px solid grey;
	padding: 15px 0;
}

.single-item img {
	padding: 10px;
	max-width: 100px;
}

.single-item .si-content {
	padding: 10px 0px;
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

.single-item .si-content p, h3{
	font-size: 1rem;
	padding: 5px 15px;
}

.single-item .actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
	width: 30%;
}

.single-item .actions input {
	font-size: 1rem;
	padding: 4px;
	width: 50px;
}

.single-item .actions button {
	text-align: center;
	border: 2px solid rgb(107, 114, 107);
	padding: 4px ;
	background: #a2b6a8;
	width: 60px	;
}

.single-item .actions button:hover,
.cart-single-item button:hover{
	background: #85968a;	
}

.cart {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 400px;
	border-left: solid 1px black;
	background-image: url('img/cart.png');
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 15px;
	font-size: 1rem;
	gap: 20px;	
}

.cart-single-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-single-item h3 {
	padding: 0;
}

.cart-single-item p {
	font-size: 1rem;
}
	
.cart-single-item button {
	background: #a2b6a8;
	padding: 5px;
	border: 2px solid rgb(107, 114, 107);
}

.total {
	display: flex;
	position: absolute;
	bottom: 15px;
	right: 20px;
	font-size: 1.5rem;
}
